.logo {
    color: var(--accent-colour);
    font-family: $fontLogo;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-colour);
    }

    &--black{
        color: #000000;
    }

    &--white {
        color: var(--primary-background-colour);
    }
}
