// .work {
//     display: flex;
// }

.work {
    @include centeredFlex();
}

.work__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.work__thumb {
    position: relative;
}

.work__label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
}

.work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-background-colour);
}