:root {
    --primary-text-colour: #212121;
    --secondary-text-colour: #757575;
    --accent-colour: #2196F3;
    --primary-background-colour: #ffffff;
    --secondary-background-colour: #F5F4FA;
    --primary-icon-colour: #AFB1B8;
}

$fontPrimary: Roboto, sans-serif;
$fontLogo: Raleway, sans-serif;
$letterSpacingPrimary: 0.03em;